html {
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
}
body {
    background: #FDD2CB;
    background-image: url("images/peaches.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}
h1 {
    font-size: 2.0rem; 
}
h3 {
    font-size: 1.2rem; 
}
#container {
    text-align: center;
    width: 300px;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff80;
}
.settings {
    display: inline-block;
}
button, span {
    font-size: 0.8rem; 
}
  
button {
    color: #ffffff;
    background: rgb(0, 79, 47);
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    color: #ff7b4f;
    background: #ececec;
    box-shadow: 1px 1px 2px rgb(52, 76, 87);
}

